/* ==UserStyle==
@name           Masto mods
@namespace      github.com/reeseovine/userstyles
@version        1.0.0
@description    Slight improvements to Mastodon's basic web UI
@author         Reese Sapphire
@preprocessor	less

@var	range	l-width	"Left panel width"		[340, 1, 'px']
@var	range	c-width	"Center panel width"	[680, 1, 'px']
@var	range	r-width	"Right panel width"		[240, 1, 'px']
==/UserStyle== */

@-moz-document domain("mastodon.social") {
    body.system-font {
		font-family: Inter, Roboto, sans-serif;
	}


	/* flexible width */
	.columns-area__panels__pane--compositional {
		min-width: @l-width;
		.columns-area__panels__pane__inner, .compose-panel {
			width: @l-width;
		}
	}

	.columns-area__panels__main {
		max-width: @c-width;
	}

	.columns-area__panels__pane--navigational {
		min-width: @r-width;
		.columns-area__panels__pane__inner {
			width: @r-width;
		}
	}


	/* spacing */
	.compose-panel {
		> * {
			padding-left: 0;
			padding-right: 0;
		}

		.navigation-bar{
			padding: 10px 0;
		}
		.compose-form {
			min-height: auto;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
	.columns-area__panels__pane--navigational {
		.columns-area__panels__pane__inner {
			padding-right: 0;
		}
	}


	/* colors */
	body.theme-mastodon-light .search__input {
		background-color: #fff;
		border-color: #c0cdd9;
	}
}
