/* ==UserStyle==
@name           Netdata: Hide Cloud annoyances
@namespace      github.com/katacarbix/userstyles
@version        1.1.0
@description    Hides references to Netdata Cloud services in your registry if you don't ever plan on using that. Tested on Netdata v1.31.0-76-nightly.
@author         katacarbix
@license        CC0-1.0

@preprocessor   less

==/UserStyle== */

@-moz-document regexp("^https?:\\/\\/[^\\/]*:19999.*$") {
	/* Hide cloud-related elements */
	[class^="styled__StyledButton"]{
		&[href^="https://app.netdata.cloud/sign-up"], // Sign Up button in toolbar
		&.fyTGxy // War Room 'plus' button
		{
			display: none !important;
		}
	}
	.hsVRrb, .bBRPet, // War Room placeholder icon
	div.flex-sc-1m6gk2e-0:nth-child(4), // Spacer
	button[name="userSettings"], // User icon in left sidebar
	.iJNvtn // CTA in left panel
	{
		display: none !important;
	}

	/* Minor spacing improvements */
	div[class^="styled__AccessorBox"] {
		padding-top: 4px;
		> div[class^="styled__IconSpacer"] {
			margin-top: -4px;
		}
	}
	.charts-body {
		padding: 1% 2% !important;
	}
	#footer .col-md-10[role="main"] {
		padding: 0 2% !important;
	}
}
