/* ==UserStyle==
@name           NYT Crossword
@namespace      github.com/katacarbix/userstyles
@version        1.0.0
@description    Make the NYT crossword syndication page usable outside of an <iframe>
@author         katacarbix
@preprocessor	less

@var   range    breakpoint  "Widescreen minimum width"  [800, 0, 2000, 1, "px"]
==/UserStyle== */

@-moz-document domain("nytsyn.pzzl.com") {
	.XwordMain {
		width: @breakpoint;
		max-width: 100vw;
		margin: 0 auto;
	}
	.xwordjs-cluelist-container {
		min-width: 200px;
	}
	.xwordjs-cluelist {
		width: auto;
	}
	img[src="images/credit.gif"] {
		display: none;
	}

	html:not([data-darkreader-scheme="dark"]) {
		.xwordjs-cell-focus, .xwordjs-clue-active {
			background-color: #9ac1e7;
		}
	}

	html[data-darkreader-scheme="dark"] {
		.xwordjs-cell {
			border-color: #888;
		}
		.xwordjs-cell-black {
			background-color: #404649;
		}
		.xwordjs-cell-active {
			background-color: #13314f;
		}
	}

	/* Mobile */
	@media screen and (max-width: @breakpoint - 1) {
		.xwordjs-container {
			overflow-x: auto;
			margin-bottom: 36vw;
		}
		.xwordjs-keyboard {
			position: fixed;
			bottom: 0;
			height: 36vw;
		}
		.xwordjs-keyboard-key {
			height: 12vw;
			line-height: 12vw;
		}
	}
}
